body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.container{
    width: 800px;
    display: inline-block;
    margin-left: calc(50% - 400px);
    margin-top: 100px;
    background-color: lightcoral;
}

.text-box{
    float: left;
    margin-left: 275px;
    margin-top: 400px;
    width: 250px;
    background-color: #3A444E;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading{
    font-size: 24px;
    font-weight: normal;
    line-height: 1em;
}

.description{
    font-size: 22px;
    line-height: 1em;
    color: #5B6F87;
    margin-top: 15px;
}